body {
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 360px;
    margin: 150px auto;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    border-radius: 3%;
    border: 2px solid whitesmoke;
    padding: 0;
}

h1 {
    color: steelblue;
    padding: 10px 16px;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

input {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    border-radius: 1%;
    box-shadow: 1px 1px 1px 1px whitesmoke;
    color: steelblue;
    font-size: 16px;
	padding: 10px 10px 10px 15px;
	box-sizing: border-box;
}

input:focus{
	outline: none;
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    cursor: pointer;
    line-height: 40px;
    color: rgb(86, 119, 168);
    font-size: 18px;
    font-weight: 700;
}

li:nth-child(2n) {
    border: 0.5px solid whitesmoke;
}

li span {
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    background: orange;
    width: 0;
    opacity: 0;
    display: inline-block;
    cursor: pointer;
    
}

li:hover span {
    width: 40px;
    opacity: 1.0;
    transition: 0.2s linear;
}

li:hover {
    color: whitesmoke;
}

.fa-plus {
    float: right;
}
/* jquery class*/
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
